body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.wrapper {
  width: 900px;
}
.comment {
  border-bottom: solid 1px #9da4a7;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  width: 500px;
}

.comment-body {
  padding-left: 0.5rem;
  word-break: break-word;
}

.comment-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.comment-time {
  color: #9da4a7;
}

.comment-actions {
  padding-left: 0.5rem;
}

textarea {
  padding: 0.3rem;
  width: 500px;
}

.pagination_bottom {
  margin-bottom: 1em;
}

.book-title, .book-memo, .book-author, .book-image {
  margin-bottom: 0.7rem;
}

.report-title ,.report-reported_on,.report-description {
  margin-bottom: 0.7rem;
}

.header {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.header-display-lang {
  position: absolute;
  right: 0;
}

.header-books {
  margin-right: 0.5rem;
}

.users {
  display: flex;
  flex-direction: column;
}

.user {
  flex: 0 0 33%;
  border-bottom: 1px solid #9da4a7;
  margin-right: 1rem;
  padding: 0.5rem 0;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-name-link {
  text-decoration: none;
}



